.productdisplay{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}


.product_display_inner{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    gap: 2rem;
}


.productdisplay-left{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    gap: 17px;

    & img{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}





.productdisplay-right{
    width: 100%;
    height: auto;
    padding: 0 4rem;
    /* background-color: aqua; */
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    text-align: start;
}

.productdisplay-right-description{
    margin-bottom: 2rem;
}


.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productdisplay-right-prices{
    display: flex;
    margin: 10px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}


.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}


.productdisplay-right-price-new{
    color: #ff4141;
}


.productdisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}


.productdisplay-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}




.productdisplay-right-sizes div{
    padding: 18px 24px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.selected{
    background-color: #4582ec !important ;
    color: white !important ;
}

.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}


.productdisplay-right-category{
    margin-top: 10px;
}


.productdisplay-right-category span{
    font-weight: 600;
}


.productdisplay-right button :active{
    background-color: #818181;
}

.cart_btn{
    border-radius: 16px;
}

.cart_btn:hover{
    background-color: rgb(206, 204, 204);
    color: red;
    /* border: 3px solid red; */
    /* border-radius: 16px; */
}

.cart_btn:active{
    background-color: lightcoral;
}



@media screen and (max-width: 1100px) {
    
    .product_display_inner {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .productdisplay-left{
         & img{
            width: 23rem;
         }
    }

}

/* 
@media screen and (max-width: 1100px) {
    
    .productdisplay{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .productdisplay-right{
        & h1{
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }
    }

    .productdisplay-right{
        justify-content: center;
        align-items: center;
    }

    .productdisplay-right-description{
        text-align: center;
    }

}*/

/* @media screen and (max-width: 800px) {
   .productdisplay-img{
     & img{
        width: 15rem
     }
   }

}  */